@import "~/styles/config";

.WritingPostContainer {
  margin-top: 10vh;
  background-color: $green;
}

.PostAuthorButton {
  display: flex;
  justify-content: space-between;
}

.TopWrapper {
  margin: 0 2rem;
}

.NavigateButton {
  background-color: #fff;
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 40px;
  z-index: 10;
  cursor: pointer;
}

.PostTitle {
  padding: 10px;
  margin: 0;
}

.GalleryContainer {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  position: relative;
}
.Image {
  width: auto;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
}

.LeftChevron {
  position: absolute;
  top: 30vh;
  left: 70px;
  cursor: pointer;
  height: 25px;
  width: 25px;
  z-index: 10;
}

.RightChevron {
  top: 30vh;
  right: 70px;
  position: absolute;
  cursor: pointer;
  height: 25px;
  width: 25px;
  z-index: 10;
}
