.HomepageCard {
  height: 100vh;
  width: 50vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .HomepageCard:hover .HomepageCardTitleWrapper {
  background-color: #ffac70;
}

.HomepageCardTitleWrapper {
  width: 35%;
  transition: 0.5s ease-in-out;
  padding: 0 5px;
}

.HomepageCardTitle {
  margin: 0;
  padding: 0;
} */

.HomepageCardTitleWrapper {
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
  object-fit: fill;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
