@import "~/styles/config";

.WritingPostContainer {
  margin: 6rem 2rem 0 2rem;
}

.PostAuthorButton {
  display: flex;
  justify-content: space-between;
}

.NavigateButton {
  background-color: $salmon;
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 40px;
}
