.ReaderContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
}
.ReaderWrapper {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
}
