@import "~/styles/config";

.WritingContainer {
  display: flex;
  background-color: $salmon;
}

.WritingLeftContainer {
  width: 30vw;
  margin-top: 10vh;
  margin-left: 5%;
  height: 90vh;
  overflow-y: scroll;
}

.WritingRightContainer {
  width: 70vw;
  height: 100vh;
  background-color: #fff;
  overflow-y: scroll;
}

.WritingTitle {
  padding: 10px;
  margin: 0;
}
