@import "~/styles/config";

.PhotographyContainer {
  display: flex;
  background-color: $green;
}

.PhotographyTitleContainer {
  background-color: $green;
}

.PhotographyLeft {
  width: 30vw;
  margin-top: 10vh;
  margin-left: 5%;
  height: 90vh;
  overflow-y: scroll;
}

.PhotographyRight {
  width: 70vw;
  height: 100vh;
  background-color: $green;
  overflow-y: scroll;
}

.PhotographyTitle {
  padding: 10px;
  margin: 0;
}
