@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

// 01. Media Query Breakpoints
$mobile-portrait-max: 478px;
$mobile-landscape-max: 767px;
$tablet-max: 991px;
$large-min: 1280px;
$xlarge-min: 1440px;
$xxlarge-min: 1920px;

// 02. Colours
$orange: #ffac70;
$white: #fff;
$green: #78bc61;
$salmon: #e9806e;
$dark--khaki: #c0c781;
$orange--red: #f26419;
$honey--yellow: #f6ae2d;
$tufts--blue: #3c91e6;
$mango--tango: #fa824c;
$black: #000;

$body-background-color: $orange;
$default-font-color: $black;
$default-hover-color: $orange--red;

// 03. Type
$poppins: "Poppins", Helvetica Neue, sans-serif;
$body-font-family: $poppins;
$default-font-family: $body-font-family;
$font-family: $body-font-family;
$heading-font-family: $poppins;

// 04. Grid
$grid-columns: 12;
$grid-gutter: 12px;
$container-width: 1440px;
$container-gutter-mobile: 25px;
$container-gutter-tablet: 50px;
$container-gutter-desktop: 70px;
