.WritingContainer {
  display: flex;
}

.WritingTitleContainer {
  background-color: #ffac70;
  width: 35%;
  transition: 0.5s ease-in-out;
}

.WritingTitleContainer:hover {
  width: 62%;
}

.WritingLeftContainer {
  width: 30vw;
  padding-top: 6rem;
  margin-left: 1rem;
  height: 100vh;
  overflow-y: scroll;
}

.WritingRightContainer {
  width: 70vw;
  height: 100vh;
  background-color: #fff;
  overflow-y: scroll;
}

.WritingTitle {
  padding: 10px;
  margin: 0;
}
